.containerDua {
    display: block;
    width: 700px;
    height: 400px;
    margin: 20px auto;
    padding: 30px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.containerDua .tableHarga {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}
  
.containerDua .tableHarga tr td {
    border: 1px solid white;
    height: 20px;
    padding: 2px;
}

.containerDua .tableHarga tr {
    background-color: coral;
}

.containerDua .tableHarga tr:nth-child(1) {
    text-align: center;
    font-weight: bold;
    background-color: grey;
}