.container {
  display: block;
  width: 700px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
  
.container h1 {
  text-align: center;
  margin: 20px 0;
}

.container table {
  margin: 10px auto;
  width: 400px;
}
  
.bold {
  font-weight: bold;
}
  
.container table tr:nth-child(2) td:nth-child(1) {
  vertical-align: bottom;
}
  
table .buttonKirim {
  background: transparent;
  border: 3px solid black;
  padding: 5px;
  color: black;
  border-radius: 30%;
  border-style: outset;
}
  
  